.--mc-player.theme-default {
  --activeColor: 136, 136, 136;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 29, 31, 37, 1;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-yellow {
  --activeColor: 255, 235, 59;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 29, 31, 37, 1;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-dark {
  --activeColor: 136, 136, 136;
  --defaultColor: 136, 136, 136;
  --backgroundColor: 0, 0, 0, 1;
  --backgroundSettingsColor: rgba(0, 0, 0, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-whiteGold {
  --activeColor: 161, 127, 26;
  --defaultColor: 136, 136, 136;
  --backgroundColor: 245, 245, 245, 1;
  --backgroundSettingsColor: rgba(245, 245, 245, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-darkGold {
  --activeColor: 161, 127, 26;
  --defaultColor: 136, 136, 136;
  --backgroundColor: 0, 0, 0, 1;
  --backgroundSettingsColor: rgba(0, 0, 0, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}
.--mc-player.theme-transparent {
  --activeColor: 255, 0, 0;
  --defaultColor: 239, 238, 236;
  --backgroundColor: 0, 0, 0, 0;
  --backgroundSettingsColor: rgba(0, 0, 0, 0.9);
  --loopBarColor: rgba(var(--defaultColor), 0.2);
  --grad-display: block;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-green {
  --activeColor: 0, 184, 139;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 29, 31, 37, 1;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}
.--mc-player.theme-blue {
  --activeColor: 0, 153, 225;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 29, 31, 37, 1;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: none;
  --grad-color: 0, 0, 0;
}

.--mc-player.theme-donkeyclip {
  --activeColor: 0, 153, 225;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 0, 0, 0, 0;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: block;
  --grad-color: 24, 25, 29;
}
.--mc-player.theme-donkeyclipDark {
  --activeColor: 0, 153, 225;
  --defaultColor: 255, 255, 255;
  --backgroundColor: 0, 0, 0, 0;
  --backgroundSettingsColor: rgba(29, 31, 37, 0.9);
  --loopBarColor: rgba(var(--activeColor), 0.2);
  --grad-display: block;
  --grad-color: 22, 22, 26;
}
.--mc-player *,
.--mc-player {
  user-select: none !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.--mc-player * {
  color: rgb(var(--defaultColor));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  cursor: default;
  box-sizing: border-box;
}
.--mc-player svg {
  width: 22px;
}
.--mcp-settings-panel:focus {
  outline: none;
}
.--mc-player * {
  outline: none !important;
}
.--mcp-settings-panel svg {
  width: 10px;
}
.--mc-player svg,
.--mc-player svg * {
  fill: rgb(var(--defaultColor)) !important;
}

.--mc-player {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.--mcp-background,
.--mcp-context {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.--mcp-background {
  background: black;
  z-index: -1000;
}

.--mcp-pointer-events-panel.initial {
  width: 100%;
  min-height: 100%;
  z-index: 100;
}

.--mcp-pointer-events-panel {
  width: 100%;
  min-height: calc(100% - 50px);
}

.--mcp-pointer-events-panel.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.--mcp-grad {
  display: var(--grad-display);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  z-index: 0;
  pointer-events: none !important;
  background-image: linear-gradient(
    rgba(var(--grad-color), 00.001),
    rgba(var(--grad-color), 00.004),
    rgba(var(--grad-color), 00.007),
    rgba(var(--grad-color), 00.01),
    rgba(var(--grad-color), 0.04),
    rgba(var(--grad-color), 0.07),
    rgba(var(--grad-color), 0.1),
    rgba(var(--grad-color), 0.15),
    rgba(var(--grad-color), 0.2),
    rgba(var(--grad-color), 0.25),
    rgba(var(--grad-color), 0.3),
    rgba(var(--grad-color), 0.35),
    rgba(var(--grad-color), 0.4),
    rgba(var(--grad-color), 0.45),
    rgba(var(--grad-color), 0.5),
    rgba(var(--grad-color), 0.55),
    rgba(var(--grad-color), 0.6),
    rgba(var(--grad-color), 0.65),
    rgba(var(--grad-color), 0.7),
    rgba(var(--grad-color), 0.75),
    rgba(var(--grad-color), 0.8),
    rgba(var(--grad-color), 0.88)
  );
}

.--mc-player:hover .--mcp-controls {
  opacity: 1 !important;
}
.--mcp-controls:active {
  opacity: 1 !important;
}
.--mcp-controls {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -0;
  background: rgba(var(--backgroundColor));
  height: 50px;
  padding: 0 15px;
  opacity: 0;
  transition: all ease 0.2s;
  pointer-events: auto;
}
.--mcp-controls * {
  user-select: none !important;
}
.--mcp-play-pause-panel #play-svg {
  margin-left: 4px;
}
.--mcp-force-show-controls {
  opacity: 1 !important;
}

.--mcp-always-show-controls {
  opacity: 1 !important;
}

.--mcp-progressbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--mcp-totalbar,
.--mcp-loopbar,
.--mcp-runningbar {
  position: relative;
  height: 5px;
}

.--mcp-cursor {
  width: 14px;
  height: 14px;
  background-color: rgb(var(--activeColor));
  border-radius: 100%;
  position: absolute;
  top: -5px;
  right: -8px;
  z-index: 10;
}

.--mcp-totalbar {
  min-width: 100%;
  background-color: rgba(var(--defaultColor), 0.3);
}

.--mcp-loopbar {
  width: 100%;
  padding: 10px 0px;
  top: -10px;
  position: relative;
}
.--mcp-loopbar-color {
  position: absolute;
  left: 0px;
  bottom: 5px;
  background-color: var(--loopBarColor);
  width: 100%;
  height: 5px;
}
.--mcp-runningbar {
  background-color: rgb(var(--activeColor));
  width: 0px;
}

.--mcp-buttons,
.--mcp-left-buttons,
.--mcp-right-buttons,
.--mcp-left-buttons > div,
.--mcp-right-buttons > div {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.--mcp-left-buttons {
  flex: 1;
}
.--mcp-buttons,
.--mcp-left-buttons,
.--mcp-right-buttons {
  height: 100%;
  gap: 20px;
}

.--mcp-left-buttons {
  justify-content: flex-start;
}

.--mcp-right-buttons {
  justify-content: flex-end;
}

.--mcp-prevent-point-events {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.--mcp-play-pause-panel {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}
.--mcp-play-pause-panel.initial {
  background-color: black;
}
.--mcp-play-pause-panel.initial svg {
  width: 32px;
  height: 32px;
}
.--mcp-play-pause-panel.initial .--mcp-play-pause-panel-container {
  width: 80px;
  height: 80px;
}
.--mcp-play-pause-panel.hide {
  opacity: 0;
}

.run-animation-play {
  animation: scale-and-opaque 0.8s 1;
}
.run-animation-pause {
  animation: scale-and-opaque1 0.8s 1;
}
.run-animation-idle {
  animation: scale-and-opaque2 0.8s 1;
}
.--mcp-play-pause-panel-container {
  background-color: #000000c7;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--mcp-play-pause-panel .--mcp-play-pause-panel-container {
  animation-duration: 0.8s;
  transform-origin: center center;
}
@keyframes scale-and-opaque {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes scale-and-opaque1 {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes scale-and-opaque2 {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.--mcp-loop-boundaries {
  position: relative;
  display: flex !important;
}
.--mcp-loop-boundaries span {
  top: -4px;
  left: -6px;
  width: 13px;
  height: 13px;
  background-color: #aeaeae;
  position: absolute;
  border-radius: 100%;
  z-index: 100;
}
.--mcp-loopbar-start {
  left: 0%;
}
.--mcp-loopbar-end {
  left: 100%;
}
.--mcp-loopbar,
.--mcp-loopbar-color,
.--mcp-runningbar,
.--mcp-status-btn,
.--mcp-loop-boundaries,
.--mcp-cursor,
.--mcp-btn,
.--mcp-volume *,
.--mc-player svg,
.--mc-player svg * {
  cursor: pointer;
}
.--mcp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.--mcp-status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.--mcp-indicator {
  font-size: 12px;
}
.--mcp-listener-helper {
  pointer-events: none;
}

.--mcp-volume-btn {
  font-size: 15px;
}
.--mcp-volumebar {
  width: 0;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
.--mcp-volume {
  height: 100%;
}
.--mcp-volume:hover {
  padding-right: 10px;
}
.--mcp-volume:hover .--mcp-volumebar,
.--mcp-volume:active .--mcp-volumebar {
  width: 52px;
  padding-left: 5px;
}
.--mcp-volume:hover .--mcp-volume-cursor,
.--mcp-volume:active .--mcp-volume-cursor {
  display: block;
}

.--mcp-btn::before {
  color: var(--defaultColor) !important;
}
.--mcp-btn::before:hover {
  filter: brightness(40);
}
.--mcp-settings-speed-hide {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
ul.--mcp-speed-values {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.--mcp-speed-values li {
  width: 100%;
}
ul.--mcp-speed-values li p {
  width: 100%;
}
.--mcp-settings-panel ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin: 0px;
  flex: 1;
}

.--mcp-settings-panel ul li {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 40px;
  padding: 0px 21px;
}
.--mcp-settings-panel ul li * {
  cursor: pointer;
}
.--mcp-settings-panel ul li:not(.--mcp-no-hover):hover {
  background-color: rgba(var(--activeColor), 0.2);
}

.--mcp-settings-panel ul li > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 48px;
  flex: 1;
  gap: 10px;
}

.--mcp-settings-panel {
  width: 251px;
  position: absolute;
  background-color: var(--backgroundSettingsColor);
  right: 15px;
  bottom: 60px;
  transition: all ease 0.2s;
  z-index: 1000;
  pointer-events: auto;
}

.--mcp-speed-values {
  padding: 0px;
}
.--mcp-no-hover {
  padding: 0px !important;
}
.--mcp-speed-value-item:not(.--mcp-selected) {
  padding-left: 15px;
}
.--mcp-speed-value-item.--mcp-selected {
  padding-left: 10px;
}
.--mcp-speed-value .icon-check-solid {
  margin-left: -5px;
}
.--mcp-settings-panel ul.--mcp-speed-settings li > div {
  justify-content: flex-start;
  flex: unset;
  width: 20px;
}

.--mcp-main-settings ul li > p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex: 1;
}

/*

Sliders

*/
.--mc-player .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.--mc-player .switch input {
  display: none;
}

.--mc-player .settings-switch::after {
  clear: both;
}

.--mc-player .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.--mc-player .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: #cfcfcf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.--mc-player input:checked + .slider {
  background-color: rgb(var(--activeColor));
}

.--mc-player input:focus + .slider {
  box-shadow: 0 0 1px rgb(var(--activeColor));
}

.--mc-player input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: white;
}

.--mc-player .slider.round {
  border-radius: 34px;
}

.--mc-player .slider.round:before {
  border-radius: 50%;
}

.--mc-player .m-fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  display: none !important;
}

.--mc-player .m-fadeIn {
  display: unset;
  visibility: visible !important;
  opacity: 1 !important;
}

.--mcp-volume-cursor {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: rgb(var(--defaultColor));
  right: -8px;
  border-radius: 100%;
  display: none;
}
.--mcp-volumebar-color {
  width: 100%;
  height: 3px;
  background-color: rgba(var(--defaultColor), 0.3);
}
.--mcp-volumebar-color-active {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--defaultColor));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 18%;
  max-width: 64px;
  aspect-ratio: 1/1;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 3px;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0.5, 0.5, 0.8) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.2s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.1s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loader-end */
