{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "babel",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "prefer-promise-reject-errors": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "no-var": "error",
    "no-unused-vars": "error"
  }
}
