@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ccy52c');
  src:  url('fonts/icomoon.eot?ccy52c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ccy52c') format('truetype'),
    url('fonts/icomoon.woff?ccy52c') format('woff'),
    url('fonts/icomoon.svg?ccy52c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volume-mute-solid:before {
  content: "\e924";
}
.icon-volume-up-solid:before {
  content: "\e925";
}
.icon-motorcortex-logo:before {
  content: "\e903";
  color: #777;
}
.icon-donkeyclip-logo:before {
  content: "\e900";
  color: #777;
}
.icon-play:before {
  content: "\e901";
  color: #999;
}
.icon-settings:before {
  content: "\e902";
  color: #999;
}
.icon-front-slash:before {
  content: "\e904";
}
.icon-back-slash:before {
  content: "\e905";
}
.icon-expand:before {
  content: "\e906";
  color: #777;
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-burger-vertical:before {
  content: "\e909";
}
.icon-arrow-bottom:before {
  content: "\e90a";
}
.icon-arrow-top:before {
  content: "\e90b";
}
.icon-burger-horizontal:before {
  content: "\e90c";
}
.icon-arrow-left-circle .path1:before {
  content: "\e90d";
  color: rgb(153, 153, 153);
  opacity: 0.521;
}
.icon-arrow-left-circle .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-left-circle .path10:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path1:before {
  content: "\e917";
  color: rgb(153, 153, 153);
  opacity: 0.521;
}
.icon-arrow-righe-circle .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-arrow-righe-circle .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(119, 119, 119);
}
.icon-expand-full:before {
  content: "\e921";
  color: #999;
}
.icon-loop:before {
  content: "\e922";
  color: #999;
}
.icon-spinner:before {
  content: "\e923";
  color: #999;
}
